@media (max-width: 991px) {
    
    .sci {
        bottom: 20px;
        right: 20px;
        margin-left: 20px;
        li {
            a {
                font-size: 10px;
            }
        }
    }
    .header {
        padding: 20px 0;

        &_active {
            height: auto;
        }

        &__logo {
            font-size: 1.25em;
        }
        &__toggle {
            &:before {
                display: none;
            }
            &_active {
                &::before {
                    display: none;
                }
            }
        }

        &__glass {
            &_right {
                left: 0;
                width: 100%;
            }   
        }
        &__video {
            background-size: cover;
        }
        header {
            padding: 20px;
        }
    }
    .content {
        margin: 0 10px;
        h2 {
            font-size: 16vw;
            span {
                font-size: 0.25em;
                letter-spacing: 2px;
                padding: 0 5px;
            }
        }
    }

    .contact {
        &__wrapper {
            padding: 50px;
        }
        &__container {
            flex-direction: column;
        }
        &__info {
            margin-bottom: 40px;
            width: 100%;
        }
        &__form {
            width: 100%;
        }
    }

}
@media (max-width: 768px) {
    .header {
        &_active {
            min-height: 150vw;
        }
    }
    .about {
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        top: 10%;
        &__header {
            font-size: 5vw;
        }
        &__descr {
            font-size: 2vw;
        }
        &__img {
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
        }
    }
    .contact {
        &__content {
            margin-top: 20px;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &_active {
            min-height: 230vw;
        }
    }
    .about {
        &__header {
            font-size: 7vw;
        }
        &__descr {
            font-size: 4vw;
        }
        &__img {
            top: 50%;
        }
    }
}

@media (max-width: 400px) {
    .header {
        &_active {
            min-height: 240vw;
        }
    }
    .contact {
        &__content {
            h2 {
                font-size: 20px;
                
            }
        }
        &__box {
            &__icon {
                min-width: 40px;
                height: 40px;
            }
            &__text {
                font-size: 12px;
            }
        }
        &__form {
            padding: 30px;
            h2 {
                font-size: 20px;
            }
            &__box {
                input {
                    font-size: 12px;
                }
                textarea {
                    font-size: 12px;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 310px) {
    .header {
        &_active {
            min-height: 290vw;
        }
    }
}
